<h1>Dice Roller</h1>

<ul>
  <li><a href="/dice/2/6">Roll 2d6</a></li>
  <li><a href="/dice/2/10">Roll 2d10</a></li>
  <li><a href="/dice/1/20">Roll 1d20</a></li>
  <li><a href="/dice/5/4">Roll 5d4</a></li>
  <li><a href="/dynamic/3/8">Roll 3d8 (Example Dynamic)</a></li>
</ul>
